{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="container" style="padding: 50px; background-color: white;">
    <h4 style="text-align: center;">Select candidate and click on the SUBMIT button at the bottom</h4>
    <hr>

    <!-- for loop starts here -->
    <form action="{% url 'electionnaire:process_vote' voter_id %}" method="post">
    {% csrf_token %}
    {% for candidate in candidate_list %}
        <div class="row">
        <div class="col-sm-2">
            <img src="{{ candidate.photo.url }}" width="50px" height="50px">
        </div>
            <div class="col-sm-2">
                <p style="text-align: center;">{{ candidate.name }}</p>
            </div>
            <div class="col-sm-2">
                <p style="text-align: center;">{{ candidate.party.name }}</p>
            </div>
            <div class="col-sm-2">
                <img src="{{ candidate.party.symbols.url }}" width="50px" height="50px">
            </div>
            <div class="col-sm-2">
                <label class="btn btn-outline-danger">
                <input type="radio" name="vote" id="candidate{{forloop.counter}}" value="{{candidate.id}}">VOTE
                </label>
            </div>
        </div>
    <br>




    {% empty %}
            <p>No candidate</p>
    {% endfor %}

    
    <input class="btn btn-success" type="submit" value="Submit"></div>
{% endblock %}